/modules/__pycache__
20_percent_test
/env
/train_voice
/un_train_voice
/train_data
/uploads
/rnn_xvector_models
/__pycache__
document/main.synctex.gz
document/main.pdf
document/main.log
document/main.fls
document/main.fdb_latexmk
document/main.aux
/models
.env
train/*
!train/clean.py
!train/extract.py
/speechbrain_models
/.idea
/rnn_wavelet_models
/test_voice
/hmm_mfcc_models
/rnn_mfcc_models
/rnn_dvector_models
/hmm_xvector_models
/hmm_wavelet_models
/pretrained_models
/hmm_dvector_models
/temp_train
/temp_test
/mfcc_qcnn_hmm_models