/modules/__pycache__
20_percent_test
/env
/train_voice
/un_train_voice
/train_data
/uploads
/rnn_xvector_models
/__pycache__
document/main.synctex.gz
document/main.pdf
document/main.log
document/main.fls
document/main.fdb_latexmk
document/main.aux
/models
.env
train/*
!train/clean.py
!train/extract.py
/speechbrain_models
/.idea
/rnn_wavelet_models
/test_voice
/models_trainning
/hmm_mfcc_models
/rnn_mfcc_models
/rnn_dvector_models