/modules/__pycache__
20_percent_test
/env
/train_voice
/train_data
/uploads
/__pycache__
document/main.synctex.gz
document/main.pdf
document/main.log
document/main.fls
document/main.fdb_latexmk
document/main.aux
train/wav_videos
/models